@charset "UTF-8";
/* @font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 농심브랜드관 폰트 */
@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* footer 고딕체 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    word-break: keep-all;
}
html,body{
    font-size: 12px;
    font-family: 'Dovemayo_gothic';
}
ul{
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
    color: inherit;
}
img{
    vertical-align: bottom;
}
button{
    border: none;
    background: transparent;
}
address{
    font-style: normal;
}

#wrap{
    width: 100%;
}
.align{
    max-width: 1300px;
    /* 반응형웹으로 제작할 것이므로 최대값으로 가로를 준다. */
    margin: auto;  
}
header{
    width: 100%;
    position: absolute;
    background: #c7002e;
    z-index:10;
    color: #fff;
}
header .align{
    /* border: solid 1px; */
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: 150px;
}
header .logo h1{}
header .logo h1 a{}
header .logo h1 a img{}
header nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    /* border: solid 3px rgb(202, 91, 227); */
}
header nav div{
    /* border: solid 1px rgb(91, 182, 192); */
}
header nav div>a{
padding: 0 1.5rem;
font-size: 1.6rem;
/* border: solid 1px; */
}
header nav div:hover>a{
    font-weight: bold;
}
header nav >div{
    /* border: solid 1px blue; */
    position: relative;
}
header nav >div >ul{
    /* border: solid 1px yellow; */
    width: 400px;
    /* display: flex; */
    position: absolute;
    left: -50px;
    top: 25px;
    box-sizing: border-box;
    /* opacity: 0; */
    display: none;
}
header nav >div >ul a{
    /* border: solid 1px black; */
    display: flex;
    /* padding: 0 10px; */
}
header nav div ul li{
    /* border: solid 1px blue; */
    /* padding: 0 10px; */
    float: left;
}
header nav div ul li a{
    font-size: 1.3rem;
    padding: 1rem;
    /* border: solid 1px green; */
}
header .search{
    width: 13%;
    position: relative;
}
header .search input{
    width: 90%;
    height: 25px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;

}
.search input::placeholder{}
.search button{
    position: absolute;
    right: 20px;
    top: 4px;
}
.search button img{
    width: 15px;
}
main{}
section{
    
}
section h2{
    font-family: 'TTWanjudaedunsancheB';
    font-size: 3rem;
    letter-spacing: 2px;
    padding-top: 20px;
}
section h3{
    /* font-family: 'Dovemayo_gothic';     */
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

/* 농꾸&출첵 */
#content1{
    display: flex;
    padding: 0 1rem;
    margin: 1.5rem auto;
}
#content1 .cont1left{
    margin-bottom: 1rem;
    width: 810px;
    height: 453px;
    background: url("../img/section1.jpg") center no-repeat;
}
#content1 .cont1right{
    /* border: 1px solid red; */
    position: relative;
    margin-left: 1%;
    width: 475px;
    height: 453px;
    overflow: hidden;
    /* hover하면서 커진 배경이미지가 잘려서 보이도록 */
    font-family: 'MBC1961GulimM';
}
#content1 .cont1right .contBg{
    /* border: 1px solid red; */
    background: url("../img/section2.jpg") ;
    background-size: cover;
    width: 475px;
    height: 453px;
    transition: .5s;
}
#content1 .cont1right .contText{
    position: absolute;
    /* 형제 관계 bg위에 얹기 위함. */
    background: #434242b3;
    top: 380px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    transition: .5s;
    /* padding: 20% 0; */
}
#content1 .cont1right .contText img{
    transition: .5s;
    /* transition은 상속이 안되어서 동일하게 주어야함 */
    margin: 1rem 0;
    width: 30px;  
}
#content1 .cont1right .contText h3{
    font-size: 3rem;
    font-weight: normal;
    padding: 90px 0 15px;
}
#content1 .cont1right .contText span{
    font-size: 3.5rem;
    color: #f6ff00;
}
#content1 .cont1right .contText h4{
    font-size: 3rem;
    font-weight: normal;
}

#content1 .cont1right .contText p{
    font-size: 1.1rem;
    color: #ccc;
}
#content1 .cont1right .contText button{
    /* 상속받지 않는것;글자,색등 상속 안받는것이 많음 */
    display: block;
    /* font-family: 'Dovemayo_gothic'; */
    color: #fff;
    border: 1px solid;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    margin: auto ;
    margin-top: 3rem;
    font-size: 1.5rem;
}
#content1 .cont1right .contText button:hover{
    background: #fff;
    color: #000;
    border: 1px solid #fff;
}
#content1 .cont1right:hover .contBg{
    transform: scale(1.2);
}
#content1 .cont1right:hover .contText{
    top: -30px;
}
#content1 .cont1right:hover .contText img{
    opacity: 0;
}

/* 농심브랜드관 */
#content2{
    margin-top: 3rem;
    /* text-align: center; */
}
/* 아래 공통사항으로 section에 적용 */
/* #content2 h2{
    font-family: 'TTWanjudaedunsancheB';
    font-size: 3rem;
    letter-spacing: 2px;
    padding-top: 20px;
}
#content2 h3{
    font-family: 'Dovemayo_gothic';    
    font-size: 2rem;
    letter-spacing: 2px;
    padding-bottom: 20px;
} */

#content2 ul{
    display: flex;
}
#content2 ul li{
    /* border: 1px solid blue; */
    width: 100%;
}
#content2 ul li img{
    /* border: 1px solid blue;     */
    /* width: 50%; */
    transition: .3s;
}
#content2 ul li:hover p{
    opacity: 1;
}
#content2 ul li:hover img{
    transform: scale(1.1);
}

/* 장바구니 베스트픽 */
#content3{
    padding: 6rem 0;
}
#content3 h2{}
#content3 .bxcover{}
#content3 .bxcover ul{}
#content3 .bxcover ul li{
    /* border: 1px solid red; */
    position: relative;
    width: 300px;
    height: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}
#content3 .bxcover ul li a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
/* a 영역을 li에 모두 걸어줄때 사용 */
}
#content3 .bxcover ul li .bximgbox{
    overflow: hidden;
}
#content3 .bxcover ul li .bximgbox img{
    width: 100%;
}
#content3 .bxcover ul li:hover .bximgbox  img{
    transform: scale(1.1);
}
#content3 .bxcover ul li .bxtextbox .bxt1{
    font-size: 1.3rem;
}
#content3 .bxcover ul li .bxtextbox .bxt2{
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
#content3 .bxcover ul li .bxtextbox .bxt2::after{
    display: block;
    content: '';
    height: 10px;
    background: yellow;
    /* margin:-15px auto 0; */
    margin: auto;
    opacity: 0;
    transition: .3s;
    width: 0;
}
#content3 .bxcover ul li:hover .bxtextbox .bxt2::after{
    opacity: 1;
    width: 100px;
}
#content3 .morebtn{
    text-align: center;
    padding: 30px 0;
}
#content3 .morebtn a{
    display: inline-block;
    font-size: 1.3rem;
    letter-spacing: 2px;
    padding: 1.5rem 2.5rem;
    border: 1px solid ;
}
#content3 .morebtn a:hover{
    background-color: #af0826;
    color: #fff;
}

/* footer 매운맛 모음 이미지 */
#content4{
    /* border: 1px solid blue; */
    position: relative;
    background: url("../img/bannerbg.png") center no-repeat #af0826;
    height: 245px;
    box-sizing: border-box;
    /* color: #fff; */
    /* text-align: center; */
    /* box라 하더라도 가로값이 없으면 중앙정렬됨.단, box설정하면 풀림 */
    /* padding-top: 4.5rem; */
    /* background-attachment: fixed; */
    /* 배경이미지크기가 화면 전체를 채우려고 커지므로,
    애초에 fixed를 걸고 싶은 이미지는 화면 전체 크기 (1920*1080)
    구해놓는 것이 좋다. */
}
#content4 a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* a 영역을 li에 모두 걸어줄때 사용 */
}

/* FOOTER */
footer{
    font-family: 'Noto Sans KR';
    font-size: 1.2rem;
    background: #111111;
    /* background: #fff; */
    color: #666666;
    /* color: #111; */
    /* padding: 4rem 0; */
}
footer .align{
    /* border: 1px solid white; */
/* display: flex; */
/* justify-content: space-between; */
/* gap: 15px; */
}
footer .footerLogo{
/* flex: grow 1; */
}
footer .footerLogo h4{}
footer .footerLogo h4 a{}
footer .footerLogo h4 a img{}

footer .info1{
/* flex-grow:1; */
    padding-top: 50px;
}
footer .info1 span{
    color: #fff;
}
footer .footerLogo{
/* flex-grow:1; */
    padding-top: 50px;
}
footer .info2{
/* flex-grow:1; */
    padding-top: 50px;
    color: #848484;
}
footer .info3{
/* flex-grow:1; */
    padding-top: 50px;
    padding-bottom: 50px;
}
.topbtn{
  position: fixed;
  /* 화면크기 변경이나 스크롤 위치에 상관없이 
  내가 지정한 위치에 그대로 고정시키기 위해서!
  만약 화면에서 보이지 않다면 위치값부터 주면 좋음 */
  right: 2rem;
  bottom: 2rem;
  color: #000;
  background: #fff;
  font-size: 3rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #000;
  display: none;
}
.topbtn:hover a{
    transform: scale(1.4);
}

/* 태블릿용 화면 미디어 쿼리 */
@media screen and (max-width:768px){
header .search, header nav{
    display: none;
}
header .logo{
    text-align: center;
    width: 100%;
    padding: 0 0 5px 0;
}
.headerTabletMenu {
    display: block;
}
.headerTabletMenu .tmclick{
    display: block;
}
#content1{
    /* border: 1px solid blue; */
    /* display: block; */
    /* 위에만 해도 되지만, 중앙정렬이 안됨. */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex로 수직정렬 */
    width: 100vw;
    padding: 0;
}
#content1 .cont1left{
    /* border: 1px solid blue; */
    background: url("../img/section1_small.jpg") center no-repeat;
} 
#content1 .cont1right{
    /* border: 1px solid red; */
    width: 100%;
    margin-left: 0;    
}
#content1 .cont1right .contBg{
    /* border: 1px solid red; */
    width: 100%;
    margin-left: 0;    
}
#content2{
    padding: 10px;
}
#content2 ul{
    flex-wrap: wrap;
    justify-content: center;    
}
#content2 ul li{
    /* border: 1px solid blue; */
    width: 30%;
    padding: 10px;
}
#content3{
    padding: 10px;
}
#content3 ul{
    flex-wrap: wrap;
    justify-content: center;    
}
#content3 ul li{
    /* border: 1px solid blue; */
    width: 100%;
    padding: 11.1px;
}

#content4{
    /* position: relative; */
    background: url("../img/bannerbg_small.png") center no-repeat #af0826;
    /* height: 245px; */
    /* box-sizing: border-box; */
    
}
footer .align{
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
}
footer .info2{
    display: none;
}

/* footer .footerInfo{
    display: none;
} */
/* footer 값 없애고 싶을 때 위 사용.*/
}